{% extends 'base.html' %}

{% block title %}
  Confirm Delete ToDo Item #{{ object.id }}
{% endblock %}

{% block body %}
	<h2>Confirm delete "{{ object.title }}"</h2>
  <p>
    Вы уверены, что хотите удалить заказ?
    <code>{{ object.title }}</code>
    with description <i>{{ object.description }}</i>?
  </p>
  <form method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Delete</button>
  </form>
  
  <div>
    <a href="{% url 'cafe_em:order_detail' object.pk %}"
    >Вернуться назад к заказу</a>
  </div>
{% endblock %}